.searchContainer {
    background-color: #e5e2eb;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

select {
    display: flex
}

#proxy-server {
    display: flex;
    justify-content: center;
    color: red;
    text-align: center;
}

.notification {
    border: solid black 2px;
}



#filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;

}

.checkbox-container {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
}

select {
    width: 200px;
    margin: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 50%;
    padding: 10px;
    border: solid black 2px;
    text-align: center;
    background-color: #e3d6cf;
    z-index: -99;
    box-shadow: .4rem .2rem #888888;
}

img {
    width: 20%;
    border: solid black 2px;
    float: left;
}

#errorMessage {
    color: red;
    display: none;
    font-weight: bold;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: black
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

#search-button:active {
    background-color: grey;
    color: white;
    box-shadow: 3px 3px black;
}

html {

    background-color: #f8ece5;
}

@media only screen and (max-width: 575px) {
    select {
        display: flex;
        width: 5rem
    }

    #filter-container {
        font-size: 60%;
        margin-left: 2rem;
    }

}