#proxy-server {
    display: flex;
    justify-content: center;
    font-size: 10px; 
    text-align: center;
}

.notification {
border: solid black 2px;
}

#filter-container {
    display: flex; 
    justify-content: center;
    gap: 20px; 
}

#checkbox {
    display: flex; 
    justify-content: center;
}

#button-container {
    display: flex; 
    justify-content: center;
}

select {
    width: 200px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card {
    width: 50%;
    padding: 10px;
    border: solid black 2px;
    text-align: center;
}

img {
    width: 20%;
    border: solid black 2px;
    float:left;
}

#errorMessage {
    color: red;
    display: none
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: black
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}
